#login-module {
  background-color:red;
  height:100%;
}

.login-form {
  // background:green;
  width:350px;
  height:300px;
  position: absolute;
  margin:auto;
  top:0;
  left:0;
  right:0;
  bottom:0;
}



